// Globals
@import 'partials/globals/vars';
@import 'partials/globals/fonts';
@import 'partials/globals/header';

// Components
@import 'partials/components/button';
@import 'partials/components/card';
@import 'partials/components/heading';
@import 'partials/components/page';
@import 'partials/components/popup';
@import 'partials/components/section';
@import 'partials/components/wrapper';

// Pages
@import 'partials/pages/about';
@import 'partials/pages/home';


*, ::after, ::before {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  margin: 0;
  background-color: #191a1d;
  color:#ababab;

  &.\--menu-active,
  &.\--popup-active {
    overflow-y: hidden;
  }
}

a {
  text-decoration: none;
}