{% extends 'includes/layout.njk' %}

{% block body %}
    <section class="section about-page">
        <div class="wrapper">
            {# <div class="page">
                <div class="page__title">About Me</div>
                <div class="page__desc"></div>
            </div> #}
            <div class="about">
                <div class="about__title">About Me</div>
                <div class="about__heading">I'm Dylan, a Front-End Web Developer based in Selangor.</div>
                <div class="about__desc">
                    <p>I love bringing designs to life. Whether it is a microsite, a 
                    WordPress website, or a web application, it brings me great 
                    satisfaction to see it come to life running across devices using
                    the latest technologies available.</p>

                    <p>I am familiar with developing mobile responsive sites which I believe to be the standard in today’s world.</p>

                    <p>If you are looking for a web developer/front-end developer (or not), 
                    feel free to reach out.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="section about-page">
        <div class="wrapper">
            <div class="about">
                <div class="about__title">Skills</div>
                <div class="about__heading">Front-End</div>
                <div class="about__skills">
                    <div class="about__skill">
                        <div class="about__skill-item">
                            <div class="about__skill-item-image --card">
                                <img class="about__skill-item-img" src="../images/about/html.svg"/>
                                <div class="about__skill-item-img-title">HTML</div>
                            </div>
                        </div>
                        <div class="about__skill-item">
                            <div class="about__skill-item-image --card">
                                <img class="about__skill-item-img" src="../images/about/css.svg"/>
                                <div class="about__skill-item-img-title">CSS</div>
                            </div>
                        </div>
                        <div class="about__skill-item">
                            <div class="about__skill-item-image --card">
                                <img class="about__skill-item-img" src="../images/about/javascript.svg"/>
                                <div class="about__skill-item-img-title">JavaScript</div>
                            </div>
                        </div>
                        <div class="about__skill-item">
                            <div class="about__skill-item-image --card">
                                <img class="about__skill-item-img" src="../images/about/angular.svg"/>
                                <div class="about__skill-item-img-title">Angular</div>
                            </div>
                        </div>
                        <div class="about__skill-item">
                            <div class="about__skill-item-image --card">
                                <img class="about__skill-item-img" src="../images/about/bootstrap.svg"/>
                                <div class="about__skill-item-img-title">Bootstrap</div>
                            </div>
                        </div>
                        <div class="about__skill-item">
                            <div class="about__skill-item-image --card">
                                <img class="about__skill-item-img" src="../images/about/jquery.svg"/>
                                <div class="about__skill-item-img-title">jQuery</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about --skills-section">
                <div class="about__heading">Back-End</div>
                <div class="about__skills">
                    <div class="about__skill">
                        <div class="about__skill-item">
                            <div class="about__skill-item-image --card">
                                <img class="about__skill-item-img" src="../images/about/php.svg"/>
                                <div class="about__skill-item-img-title">PHP</div>
                            </div>
                        </div>
                        <div class="about__skill-item">
                            <div class="about__skill-item-image --card">
                                <img class="about__skill-item-img" src="../images/about/mysql.svg"/>
                                <div class="about__skill-item-img-title">MySQL</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about --skills-section">
                <div class="about__heading">CMS</div>
                <div class="about__skills">
                    <div class="about__skill">
                        <div class="about__skill-item">
                            <div class="about__skill-item-image --card">
                                <img class="about__skill-item-img" src="../images/about/wordpress.svg"/>
                                <div class="about__skill-item-img-title">WordPress</div>
                            </div>
                        </div>
                        <div class="about__skill-item">
                            <div class="about__skill-item-image --card">
                                <img class="about__skill-item-img" src="../images/about/kentico.svg"/>
                                <div class="about__skill-item-img-title">Kentico</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about --skills-section">
                <div class="about__heading">Others</div>
                <div class="about__skills">
                    <div class="about__skill">
                        <div class="about__skill-item">
                            <div class="about__skill-item-image --card">
                                <img class="about__skill-item-img" src="../images/about/gitlab.svg"/>
                                <div class="about__skill-item-img-title">Gitlab</div>
                            </div>
                        </div>
                        <div class="about__skill-item">
                            <div class="about__skill-item-image --card">
                                <img class="about__skill-item-img" src="../images/about/photoshop.svg"/>
                                <div class="about__skill-item-img-title">Photoshop</div>
                            </div>
                        </div>
                        <div class="about__skill-item">
                            <div class="about__skill-item-image --card">
                                <img class="about__skill-item-img" src="../images/about/xd.svg"/>
                                <div class="about__skill-item-img-title">XD</div>
                            </div>
                        </div>
                        <div class="about__skill-item">
                            <div class="about__skill-item-image --card">
                                <img class="about__skill-item-img" src="../images/about/premiere-pro.svg"/>
                                <div class="about__skill-item-img-title">Premiere Pro</div>
                            </div>
                        </div>
                        <div class="about__skill-item">
                            <div class="about__skill-item-image --card">
                                <img class="about__skill-item-img" src="../images/about/pwa.svg"/>
                                <div class="about__skill-item-img-title">PWA</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}