{% extends 'includes/layout.njk' %}

{% block body %}
    <section class="section home">
        <div class="wrapper">
            <div class="card">
                <div class="card__inner">
                    <div class="card__content">
                        <div class="card__image">
                            <img class="card__img" src="../images/home/400x400_pp.png" />
                        </div>
                        <div class="card__text">
                            <div class="card__heading">Dylan Tan</div>
                            <div class="card__subheading">Front-End Developer</div>
                        </div>
                        <div class="card__socials">
                            <div class="card__social">
                                <div class="card__social-item">
                                    <a href="#" target="_blank" class="card__social-item-link">
                                        <img class="card__social-item-img" src="../images/shared/social-icon/icon-facebook.svg" />
                                    </a>
                                </div>
                                <div class="card__social-item">
                                    <a href="#" target="_blank" class="card__social-item-link">
                                        <img class="card__social-item-img" src="../images/shared/social-icon/icon-instagram.svg" />
                                    </a>
                                </div>
                                <div class="card__social-item">
                                    <a href="#" target="_blank" class="card__social-item-link">
                                        <img class="card__social-item-img" src="../images/shared/social-icon/icon-linkedin.svg" />
                                    </a>
                                </div>
                                <div class="card__social-item">
                                    <a href="#" target="_blank" class="card__social-item-link">
                                        <img class="card__social-item-img" src="../images/shared/social-icon/icon-gmail.svg" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}