{% set pageTitle = page.title or config.subtitle or '' %}

{% if is_archive() %}
  {% set pageTitle = 'Archives' %}
{% endif %}

{% if is_tag() %}
  {% set pageTitle = 'Tag: ' + page.tag %}
{% endif %}

{% if is_category() %}
  {% set pageTitle = 'Category: ' + page.category %}
{% endif %}

{% if is_month() %}
  {% set pageTitle = pageTitle + ': ' + page.month + '/' + page.year %}
{% endif %}

{% if is_year() %}
  {% set pageTitle = pageTitle + ': ' + page.year %}
{% endif %}

{% set pageTitle = pageTitle + ' [ ' + config.title + ' ]' %}

<!doctype html>
<html lang="{{ config.language }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pageTitle }}</title>
    {% if (theme.stylesheets != undefined) and (theme.stylesheets.length > 0) %}
      {# stylesheet list from _config.yml #}
      {% for url in theme.stylesheets %}
        <link rel="stylesheet" href="{{ url }}">
      {% endfor %}
    {% endif %}
    <script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous"></script>
  </head>
  <body>

    <header>
      <div class="header">
        <div class="wrapper">
          <div class="header__nav">
            <div class="header__nav-logo">
              <a href="/home" class="header__nav-logo-link">
                <svg xmlns="http://www.w3.org/2000/svg" width="125" height="100" viewBox="0 0 558 172">
                  <text id="dylantan" transform="translate(259 135)" fill="#d1d1d1" font-size="152" font-family="HoratioD-Bold, Horatio D" font-weight="700" letter-spacing="-0.006em">
                    <tspan x="-258.628" y="0">dylan</tspan>
                    <tspan y="0" fill="#009aff">tan</tspan>
                  </text>
                </svg>
              </a>
            </div>
            <div id="menu-toggle" class="header__nav-hamburger">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
            <div class="header__nav-menu">
              <ul class="header__nav-menu-items">
                {% for key, value in theme.menu %}
                  <li class="header__nav-menu-item">
                    <a class="header__nav-menu-item-link" href="{{ theme.menu[key] }}" id="{{ key }}-link">{{ key }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div id="content-outer">
      <div id="content-inner">
        {# {% autoescape false %}{{ body }}{% endautoescape %} #}
        {% block body %}{% endblock %}
      </div>
    </div>

    <div class="popup" id="contactPopup">
      <div class="popup__inner">
        <div class="popup__content">
          <div class="popup__close"></div>
          <div class="popup__content-left-right">
            <div class="popup__content-left">
              <div class="popup__content-left-inner">
                <div class="popup__content-heading">Get in Touch</div>
                <div class="popup__content-description">
                  <p>I would love to hear from you.</p>
                  <p>Available for freelance opportunities or a friendly chat. </p>
                </div>
              </div>
            </div>
            <div class="popup__content-right">
              <div class="popup__content-right-inner">
                <form>
                  <div class="popup__content-form">

                    <div class="popup__content-form-heading">
                      <p>Please fill in the form and I’ll get back within 1-2 days.</p>
                    </div>

                    <div class="popup__content-form-fields">
                      <div class="popup__content-form-field-inline">
                        <input type="text" class="popup__content-form-input" placeholder="Name" name="name" id="name" required/>
                        <input type="email" class="popup__content-form-input" placeholder="Email" name="email" id="email" required/>
                      </div>
                      <div class="popup__content-form-field-inline">
                        <input type="text" class="popup__content-form-input" placeholder="Subject" name="subject" id="subject" required/>
                      </div>
                      <div class="popup__content-form-field-inline">
                        <textarea  class="popup__content-form-textarea" placeholder="Message" name="message" id="message" rows="4" cols="50"></textarea>
                      </div>
                      <div class="popup__content-form-field-inline --flex-end">
                        <button type="submit" class="button --primary">Send</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {# <footer>
      <div id="bottom-outer">
        <div id="bottom-inner">
    Site by {{ config.author }} using
    <a href="http://hexo.io">hexo blog framework</a>.
    <br>
          <a href="{{ config.root }}">Home</a>
        </div>
      </div>
    </footer> #}

      {% if (theme.scripts != undefined) and (theme.scripts.length > 0) %}
        {# scripts list from config.yml #}
        {% for url in theme.scripts %}
          <script src="{{ url }}"></script>
        {% endfor %}
      {% endif %}
      <script id="__bs_script__">//<![CDATA[
    document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.js?v=2.26.13'><\/script>".replace("HOST", location.hostname));
//]]></script>
  </body>
</html>