/*-----------------------------------------------------------------------------
    $ Button
-----------------------------------------------------------------------------*/

.button {
    appearance: none;
    padding: 15px 40px;
    font-size: 12px;
    text-transform: uppercase;
    border: 0;
    border-radius: 5px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 1.5px;
    transition: all 0.3s ease;

    &.\--primary {
        background-color: $blue;
        color: $white;

        &:hover {
            background-color: $lightgray;
            color: $darkgray;
        }
    }
}