/*-----------------------------------------------------------------------------
    $ Card
-----------------------------------------------------------------------------*/

.card {
    // background-color: $blue;
    // background-color: rgba(0, 135, 223, 0.75);
    background: #0087DF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #0087DF, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #0087DF, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    max-width: 400px;
    width: 100%;
    border-radius: 25px;
    margin: 0 auto;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
    .card__inner {
        padding: 45px 25px;
    }
    .card__content {}
        .card__image {
            width: 250px;
            height: 250px;
            margin: 0 auto;
            border: 5px solid rgba(209, 209, 209, 0.5);
            border-radius: 250px;
        }
        .card__img {
            width: 100%;
        }
        .card__text {
            padding: 15px 0;
            text-align: center;
            line-height: 1.25;
        }
            .card__heading {
                font-family: 'Horatio D', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: 48px;
                color: $white;
            }
            .card__subheading {
                font-family: 'Horatio D', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: 18px;
                color: $lightgray;
            }
        .card__socials {
            padding: 25px 0 0 0;
        }
        .card__social {
            display: block;
            text-align: center;
        }
        .card__social-item {
            display: inline-block;
            padding: 0 15px;
        }
        .card__social-item-link {
            &:hover {
                .card__social-item-img {
                    transform: scale(1.5);
                }
            }
        }
        .card__social-item-img {
            width: 20px;
            height: 20px;
            filter: invert(1);
            vertical-align: middle;
            transition: all ease 0.3s;
        }

@media (max-width: $mq-xs) {
    .card__heading {
        font-size: 42px;
    }
    .card__subheading {
        font-size: 16px;
    }
    .card__image {
        width: 200px;
        height: 200px;
    }
}