/*-----------------------------------------------------------------------------
    $ Page
-----------------------------------------------------------------------------*/

.page {
    
}
    .page__title {
        font-size: 48px;
        font-weight: 800;
        color: $white;
        font-family: 'Horatio D', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .page__desc {
        font-size: 24px;
    }