/*-----------------------------------------------------------------------------
    $ Popup
-----------------------------------------------------------------------------*/

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    z-index: 11;
    opacity: 0;
    visibility: hidden;
    transition: all ease-out 0.4s;

    &.\--active {
        visibility: visible;
        opacity: 1;

        & .popup__content-left {
            bottom: 0;
        }

        & .popup__content-right {
            top: 0;
        }
    }
}
.popup__inner {
}
.popup__close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 12;

    &:hover {
        opacity: 1;
        transform: rotate(180deg);
    }
    &:before,
    &:after {
        position: absolute;
        left: 15px;
        content: " ";
        height: 33px;
        width: 2px;
        background-color: $lightgray;
    }
    &:before {
        transform: rotate(45deg);
    }
    &:after {
        transform: rotate(-45deg);
    }
}
.popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    // max-width: 1024px;
    height: 75%;
    box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.55);
    border-radius: 5px;
    display: flex;
    overflow: hidden;
    @media ($bp-xs) { 
        max-width: $mq-xs;
    }
    @media ($bp-sm) { 
        max-width: $mq-sm;
    }
    @media ($bp-md) { 
        max-width: $mq-md;
    }
    @media ($bp-lg) {
        max-width: $mq-lg;
    }
}

.popup__content-left-right {
    width: 100%;
    display: flex;

    @media ($bp-md-dn) {
        flex-direction: column;
    }
}

.popup__content-left,
.popup__content-right {
    padding: 0 40px;
    position: relative;
    transition: all cubic-bezier(0.694, 0.048, 0.335, 1) 0.75s;
}
.popup__content-left {
    width: 40%;
    background-color: $blue;
    bottom: 1000px;
    @media ($bp-md-dn) {
        width: 100%;
        height: 40%;
    }
}
.popup__content-right {
    width: 60%;
    @media ($bp-md-dn) {
        width: 100%;
        height: 60%;
    }
}
.popup__content-left-inner {
    // margin: 45px 25px;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}
.popup__content-right {
    background-color: $darkgray;
    top: 1000px;
}

.popup__content-right-inner {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.popup__content-heading {
    color: $white;
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 1.5px;
    font-family: $primary-font;
    margin-bottom: 15px;
}
.popup__content-description {
    color: $lightgray;
    font-size: 20px;
    line-height: 1.25;
    letter-spacing: 1px;
    font-weight: 600;
    font-family: $secondary-font;

    & p {
        margin-top: 0;
        margin-bottom: 10px;
    }
}

.popup__content-form-heading {
    font-size: 20px;
    line-height: 1.25;
    letter-spacing: 1px;
    font-weight: 600;
    font-family: "Helvetica Neue", Arial, sans-serif;
    margin-bottom: 25px;

    & p {
        margin: 0;
    }
}

.popup__content-form {
    font-family: "Helvetica Neue", Arial, sans-serif;
}

.popup__content-form-fields {}
.popup__content-form-field-inline {
    display: flex;
    margin-bottom: 10px;

    &.\--flex-end {
        justify-content: flex-end;
    }
}

.popup__content-form-input,
.popup__content-form-textarea {
    width: 100%;
    padding: 15px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    background: #404147;
    color: #fff;
    letter-spacing: 1.5px;
    font-weight: 600;
    appearance: none;
    border: 0;
    border-radius: 5px;
}

.popup__content-form-input {
    & ~ .popup__content-form-input {
        margin-left: 10px;
    }
}

.popup__content-form-textarea {
    resize: none;
    // width: 100%;
    // padding: 15px;
    // font-family: "Helvetica Neue", Arial, sans-serif;
}