@import '../globals/_vars.scss';
/*-----------------------------------------------------------------------------
    $ Wrappers
-----------------------------------------------------------------------------*/

.wrapper {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    // padding-left: 25px;
    // padding-right: 25px;
    margin-left: auto;
    margin-right: auto;
    @media ($bp-xs) { 
        max-width: $mq-xs;
    }
    @media ($bp-sm) { 
        max-width: $mq-sm;
    }
    @media ($bp-md) { 
        max-width: $mq-md;
    }
    @media ($bp-lg) {
        max-width: $mq-lg;
    }
    @media ($bp-xl) {
        max-width: $mq-xl;
    }
}