/*-----------------------------------------------------------------------------
    $ About
-----------------------------------------------------------------------------*/
.about {
    margin: 25px 0;

    &.\--skills-section {
        margin: 50px 0;
    }
}   
    .about__title {
        font-size: 48px;
        font-weight: 800;
        color: $white;
        margin-bottom: 15px;
        font-family: 'Horatio D', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .about__heading {
        font-size: 36px;
        font-weight: 800;
        letter-spacing: 1.5px;
        color: $blue;
    }
    .about__desc {

        & p {
            font-size: 24px;
            letter-spacing: 1px;
        }
    }

@media (max-width: 900px) {
    .about__title {
        font-size: 42px;
    }
    .about__heading {
        font-size: 32px;
    }
    .about__desc {

        & p {
            font-size: 20px;
        }
    }
}

@media (max-width: $mq-md) {

}

@media (max-width: $mq-sm) {
    .about__title {
        font-size: 32px;
    }
    .about__heading {
        font-size: 20px;
    }
    .about__desc {

        & p {
            font-size: 16px;
        }
    }
}

@media (max-width: $mq-xs) {

}

// About -- Skills

.about__skills {
    margin: 15px 0;
}
.about__skill {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    width: 100%;
}

.about__skill-item {
    padding: 15px;
    transition: all ease 0.3s;

    &:hover {
        transform: scale(1.25);
    }
}
    .about__skill-item-image {
        &.\--card {
            background-color: $darkgray;
            padding: 25px;
            border-radius: 5px;
            width: 100px;
            height: 100px;
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        }
    }
    .about__skill-item-img {
        width: 65px;
        margin: 0 auto;
        display: block;
    }
    .about__skill-item-img-title {
        text-align: center;
        font-weight: 600;
        margin-top: 15px;
        letter-spacing: 1px;
        font-size: 16px;
    }
    
    @media (max-width: 900px) {
        .about__skill {
            margin: -10px;
        }

        .about__skill-item {
            padding: 10px;
        }

        .about__skill-item-image {
            &.\--card {
                padding: 25px;
                width: 75px;
                height: 75px;
            }
        }

        .about__skill-item-img {
            width: 45px;
        }

        .about__skill-item-img-title {
            font-size: 12px;
        }
    }

    @media (max-width: $mq-sm) {
        // .about__skill {
        //     margin: -10px;
        // }

        // .about__skill-item {
        //     padding: 10px;
        // }

        .about__skill-item-image {
            &.\--card {
                padding: 25px;
                width: 75px;
                height: 75px;
            }
        }

        .about__skill-item-img {
            width: 45px;
        }

        .about__skill-item-img-title {
            font-size: 12px;
        }
    }

    @media (max-width: $mq-xs) {
        .about__skill-item-image {
            &.\--card {
                // padding: 25px;
                width: 50px;
                height: 50px;
            }
        }

        .about__skill-item-img {
            width: 35px;
        }

        .about__skill-item-img-title {
            font-size: 10px;
        }
    }