// Fonts

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helvetica-neue/HelveticaNeue.ttf') format('truetype');
}

@font-face {
    font-family: 'Horatio D';
    src: url('../fonts/horatio-d/Horatio_D_Light.ttf') format('truetype'),
        url('../fonts/horatio-d/Horatio_D_Light.woff2') format('woff2'),
        url('../fonts/horatio-d/Horatio_D_Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Horatio D';
    src: url('../fonts/horatio-d/Horatio_D_Medium.ttf') format('truetype'), 
        url('../fonts/horatio-d/Horatio_D_Medium.woff2') format('woff2'),
        url('../fonts/horatio-d/Horatio_D_Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Horatio D';
    src: url('../fonts/horatio-d/Horatio_D_Bold.ttf') format('truetype'), 
        url('../fonts/horatio-d/Horatio_D_Bold.woff2') format('woff2'),
        url('../fonts/horatio-d/Horatio_D_Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

