// Header

.header {
    width: 100%;
}
// .header__inner {
//     height: 100%;
// }

.header__nav {
    display: flex;
    height: 100px;
}

.header__nav-logo {
    width: 10%;
    margin: auto;
    text-align: center;
}

.header__nav-logo-link {
    color: white;
    font-weight: 500;
    font-size: 28px;
    letter-spacing: 2px;
    width: 100%;
}

.header__nav-menu {
    width: 90%;
    margin: auto;
}

.header__nav-menu-items {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

.header__nav-menu-item {
    padding: 10px 25px;
}

.header__nav-menu-item-link {
    text-decoration: none;
    text-transform: capitalize;
    color: $grey;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1.5px;
    transition: all ease 0.3s;

    &:hover {
        color: $white;
    }
}

.header__nav-hamburger {
    display: none;
}

@media (max-width: 900px) {
    .header__nav {
        // display: block;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    .header__nav-logo {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20%;
    }
    .header__nav-logo-link {
    }
    .header__nav-hamburger {
        display: block;
        position: absolute;
        // top: 0;
        right: 0;
        // margin-left: auto;
        // margin-right: 1.5rem;
        // margin-top: 2.5rem;
        cursor: pointer;
        width: 35px;
        height: 25px;
        z-index: 11;

        & span {
            display: block;
            position: absolute;
            background: $lightgray;
            width: 35px;
            height: 4px;
            border-radius: 20px;
            // transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
            -webkit-transition: .25s ease-in-out;
            -moz-transition: .25s ease-in-out;
            -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out;
            cursor: default;
            pointer-events: none;

            &:nth-child(1) {
                top: 0;
            }

            &:nth-child(2),
            &:nth-child(3) {
                top: 10px;
            }

            &:nth-child(4) {
                top: 20px;
            }
        }
        
        &.\--active {
            & span {
                &:nth-child(1) {
                    top: 18px;
                    width: 0%;
                    left: 50%;
                }
    
                &:nth-child(2) {
                    -webkit-transform: rotate(45deg);
                    -moz-transform: rotate(45deg);
                    -o-transform: rotate(45deg);
                    transform: rotate(45deg);
                }

                &:nth-child(3) {
                    -webkit-transform: rotate(-45deg);
                    -moz-transform: rotate(-45deg);
                    -o-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                }
    
                &:nth-child(4) {
                    top: 18px;
                    width: 0%;
                    left: 50%;
                }
            }
        }
    }
    .header__nav-menu {
        // display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 10;
        top: 2000px;
        left: 0;
        background-color: #191a1d;
        border: 1px solid rgba(50, 50, 50, 1);
        transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

        & .header__nav-menu-items {
            width: 100%;
            height: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: -50px;
        }
        
        & .header__nav-menu-item {
            margin: 15px 0;
        }
        
        & .header__nav-menu-item-link {
            font-size: 32px;
        }
        &.\--active {
            // display: block;
            top: 100px;
            height: calc(100% - 100px);
            opacity: 1;
            // animation: slideUp 1.5s cubic-bezier(0.77, 0.2, 0.05, 1) 0s 1 forwards;
        }
    }
}
