// Global variables

// Font
$primary-font:'Horatio D', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$secondary-font:'Helvetica Neue', Arial, sans-serif;

// Colors
$blue: #0087DF;
$grey: #ababab;
$darkgray: #353535;
$lightgray: #d1d1d1;
$white: #fff;

// Media queries
$mq-xs: 480px;
$mq-sm: 640px;
$mq-md: 800px;
$mq-md-lg: 900px;
$mq-lg: 1024px;
$mq-xl: 1280px;

// Breakpoints
$bp-xs: 'min-width: #{$mq-xs}';
$bp-sm: 'min-width: #{$mq-sm}';
$bp-md: 'min-width: #{$mq-md}';
$bp-lg: 'min-width: #{$mq-lg}';
$bp-xl: 'min-width: #{$mq-xl}';

$bp-xs-dn: 'max-width: #{$mq-xs - 0.02}';
$bp-sm-dn: 'max-width: #{$mq-sm - 0.02}';
$bp-md-dn: 'max-width: #{$mq-md - 0.02}';
$bp-lg-dn: 'max-width: #{$mq-lg - 0.02}';
$bp-xl-dn: 'max-width: #{$mq-xl - 0.02}';

$bp-xs-sm: '#{$bp-xs}) and (#{$bp-sm-dn}';
$bp-xs-md: '#{$bp-xs}) and (#{$bp-md-dn}';
$bp-xs-lg: '#{$bp-xs}) and (#{$bp-lg-dn}';
$bp-xs-xl: '#{$bp-xs}) and (#{$bp-xl-dn}';

$bp-sm-md: '#{$bp-sm}) and (#{$bp-md-dn}';
$bp-sm-lg: '#{$bp-sm}) and (#{$bp-lg-dn}';
$bp-sm-xl: '#{$bp-sm}) and (#{$bp-xl-dn}';

$bp-md-lg: '#{$bp-md}) and (#{$bp-lg-dn}';
$bp-md-xl: '#{$bp-md}) and (#{$bp-xl-dn}';

$bp-lg-xl: '#{$bp-lg}) and (#{$bp-xl-dn}';

$bp-desktop-nav: $bp-sm;
$bp-mobile-nav:  $bp-sm-dn;